### Added Aliases
alias @update='sudo apt-get update && sudo apt-get -y upgrade && sudo apt-get -y dist-upgrade && sudo apt-get clean && sudo apt-get autoclean && sudo apt-get -y autoremove'
alias @myip='curl http://ipecho.net/plain; echo'
alias @extract='extract'
alias @p='cd ~/Projects'
alias @v='cd ~/vagrant'

alias @gitpush='git push -u origin master'
